<div class="subtitle">
  <p>
  {% if site.show-subtitle %}
    {{ site.description.subtitle }}
  {% endif %}
  {% if site.display-social-icons %}
    {% if site.show-subtitle and site.display-social-icons %}
    <br>
    {% endif %}
    {{ site.var_on_the_web }}:&nbsp;
    {% if site.twitter %}<a class="fa fa-twitter" href="{{ site.twitter }}"></a>{% endif %}
    {% if site.instagram %}<a class="fa fa-instagram" href="{{ site.instagram }}"></a>{% endif %}
    {% if site.facebook %}<a class="fa fa-facebook-official" href="{{ site.facebook }}"></a>{% endif %}
  {% endif %}
  </p>
</div>
